.competences {
  background-color: #5bc0eb;
  border-radius: 25px 25px 0 0;
  animation: fadeInCard 0.6s ease-in-out;
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde74c;
    padding: 30px;
  }
  &_title {
    color: dark-blue-color;
  }
  &_containersimg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    gap: 45px;
  }
  &_img {
    height: 140px;
    &:hover {
      opacity: 0.8;
      scale: 1.1;
      transition: all 0.05s ease-out;
    }
  }
}
