.loader {
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5bc0eb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 1000;
  animation: loading-screen 10000ms ease-in;
  animation-fill-mode: forwards;
  color: #fa7921;
  font-weight: bold;
  font-size: 120px;
  opacity: 0.8;
}
.loader:before {
  content: "<";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: " />";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
.is-loading .footer {
  opacity: 0;
}
