nav {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    @media screen and (max-width: 768px) {
      gap: 20px;
    }
    @media screen and (max-width: 600px) {
      font-size: 14px;
      gap: 10px;
    }
    @media screen and (max-width: 400px) {
      font-size: 14px;
      gap: 8px;
    }
    @media screen and (max-width: 370px) {
      font-size: 13px;
      gap: 6px;
    }
  }
  li {
    position: relative;
    padding: 10px 0;
    a {
      color: #9b2f12;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      display: flex;
      padding: 15px 10px;
      position: relative;
      @media screen and (max-width: 600px) {
        padding: 0 5px;
      }

      &:hover {
        z-index: 1000;
        position: relative;
        color: #ffffff;
      }
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: all 0.8s ease-out;
        width: 0;
      }
      &:hover {
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
