.navigation {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5bc0eb;
  padding: 50px;
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
  @media screen and (max-width: 500px) {
    height: 110px;
  }
  @media screen and (max-width: 400px) {
    padding: 10px;
  }
  &_logo img {
    width: 100px;
    height: auto;
    border-radius: 100px;
    @media screen and (max-width: 500px) {
      display: none;
    }
    &:hover {
      opacity: 0.8;
      scale: 1;
      transition: all 0.2s ease-out;
      border-radius: 5%;
    }
  }
}

.header {
  width: 100%;
  height: 550px;
  background: url(../../assets/bySandrineRavaud.webp);
  animation: fadeInCard 0.6s ease-in-out;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      text-align: center;
    }
  }
  &_titreNoir {
    background-color: #000;
    color: #fde74c;
    font-weight: 300;
  }
  &_left {
    width: 400px;
    @media screen and (max-width: 425px) {
      width: 350px;
    }
    @media screen and (max-width: 350px) {
      width: 320px;
    }
    &:hover {
      opacity: 0.8;
      scale: 1.05;
      transition: all 1s ease-out;
      border-radius: 100% 15%;
    }
  }
}

h2 {
  font-size: 80px;
  color: #fa7921;
}
#photo {
  width: auto;
  height: 20em;
  border-radius: 50% 50%;
  @media screen and (max-width: 768px) {
    height: 16em;
  }
  @media screen and (max-width: 600px) {
    height: 14em;
  }

  &:hover {
    opacity: 0.8;
    scale: 1.05;
    transition: all 1s ease-out;
    border-radius: 100% 15%;
  }
}
.github-link {
  width: 50px;
  @media screen and (max-width: 600px) {
    width: 40px;
  }
  @media screen and (max-width: 400px) {
    width: 33px;
  }
}
.linkedin-link {
  width: 60px;
  @media screen and (max-width: 600px) {
    width: 50px;
  }
  @media screen and (max-width: 400px) {
    width: 40px;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
