.projet {
  background-color: $blue-color;
  animation: fadeInCard 0.6s ease-in-out;
  &_titre,
  p,
  li {
    color: white;
  }
  &_paragraphe {
    padding: 10px;
  }
  &_sou-titre {
    color: white;
    display: flex;
    justify-content: center;
  }
}
li {
  list-style-type: circle;
  display: flex;
  justify-content: center;
}
